.Mybody{
    background: #87CEFA;
}
.Content{
    height: 100vh;
}
button{
    width: 100%;
}


.inputWithIcon input {
    padding-left: 30px;
}

.inputWithIcon1 input {
    padding-left: 30px;
}

.inputWithIcon , .inputWithIcon1 {
    position: relative;
} 

.inputWithIcon i {
    position: absolute;
    left: -14px;
    top: 6px;
    padding: 9px 23px;
    color: #aaa;
}

.inputWithIcon1 i {
    position: absolute;
    left: -12px;
    top: 20px;
    padding: 9px 23px;
    color: #aaa;
}

.Hover a {
    text-decoration: underline;
}

.Hover a:hover {
    text-decoration: none;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.powered-by {
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 25px;
    left: -1px;
}

.container-fluid {
    padding: 60px 60px;
}   

.Home {
    font-size: 30px;
    color: #006400;
}