<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
</head>

<body class="Mybody">
    <div class="container Content">
        <div class="row h-100">
            <div class="col-2"></div>
            <div class="col-4">
                <img src="/assets/images/logo-hawa-dds.png" class="h-100 w-100" alt="">
            </div>
            <div class="col-4">
                <form class="d-flex h-100 flex-column justify-content-center align-items-center form-group">
                    <h3 class="font-weight-bolder">
                        ĐĂNG NHẬP
                        <span style="font-size: 17px; font-weight: bold" class="font-italic">(SIGN IN)</span>
                    </h3>
                    <div class="inputWithIcon" style="height: 60px;">
                        <input type="email" class="form-control mt-2" placeholder="Email address (*)" size="100px" required />
                        <i class="far fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="inputWithIcon1" style="height: 60px;">
                        <input type="password" class="form-control mb-2" placeholder="Password (*)" size="100px" required />
                        <i class="pb-2" class="fas fa-lock" aria-hidden="true"></i>
                    </div>
                    <div class="w-100 text-right" >
                        <a class="text-primary" href="" style="text-decoration: none">Quên mật khẩu <span class="font-italic">(Forgot password)</span> ?</a>
                    </div>
                    <!-- <div class="flex-row mt-2">
                        <input type="checkbox" /> Remember me
                    </div> -->
                    <button class="btn btn-lg btn-primary mt-4">Sign in</button>
                    <div class="Hover mt-5">
                        <a style="text-decoration: under" class="mt-5 text-primary">Bạn chưa có tài khoản? - Đăng ký tại đây</a>
                    </div>
                    <span class="mt-3" style="font-size: 12px;">(New to HAWA DDS? Sign up here)</span>

                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>

</html>