<div class="alert alert-success d-flex justify-content-center" role="alert" *ngIf="alert">
    Sign up success
</div>

<div class="container">
    <button type="button" class="btn btn-success mb-3 mt-3" routerLink="/sign-in">Back</button>
    <form [formGroup]="formLogUp"> 
        <div class="form-group">
            <label for="">Full name</label>
            <input  class="form-control" name="name" formControlName="name" [(ngModel)]="userObj.name">
        </div>

        <div *ngIf="submitted && name.errors?.pattern">
            <span style="color: red; font-size: 13px;text-align: inherit" class="font-italic">
                Trường này không được chứa kí tự đặc biệt
            </span>
        </div>

        <div class="form-group">
            <label for="">Mobile Number</label>
            <input  class="form-control" name="mobile" formControlName="mobile" [(ngModel)]="userObj.mobile">
        </div>
        <div class="form-group">
            <label for="">Email Address</label>
            <input  class="form-control" name="email" formControlName="email" [(ngModel)]="userObj.email">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input  class="form-control" name="password" formControlName="password" [(ngModel)]="userObj.password">
        </div>
        
        <button type="button" class="btn btn-primary" (click)="addUser(myForm)" *ngIf="!isEdit">Submit</button>
        <button type="button" class="btn btn-info" (click)="updateUser()" *ngIf="isEdit">Update</button>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUser">
                <td>{{ user.name }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td><button (click)="editUser(user)" class="btn btn-warning" >Edit</button></td>
                <td><button (click)="showDeleteConfirm(user)" class="btn btn-danger">Delete</button></td>
                <!-- <button nz-button nzType="dashed" (click)="showDeleteConfirm()">Delete</button> -->
            </tr>
        </tbody>
    </table>
</div>